<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyCloudStoreClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      
        <bindings>
            <basicHttpBinding>
              
                <binding name="BasicHttpBinding_IStoreService"
                  maxReceivedMessageSize="20000000"
                  maxBufferSize="20000000"
                  maxBufferPoolSize="20000000"/>
              
            </basicHttpBinding>
        </bindings>
        <client>
          
            <endpoint address="http://localhost:60567/StoreService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStoreService" contract="StoreServiceReference.IStoreService"
                name="BasicHttpBinding_IStoreService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MyCloudStoreClient.Properties.Settings>
            <setting name="blockSize" serializeAs="String">
                <value>512000</value>
            </setting>
            <setting name="downloadFolder" serializeAs="String">
                <value>C:\\Users\\Mladen\\Downloads\\MyCloudStoreDownloads</value>
            </setting>
        </MyCloudStoreClient.Properties.Settings>
    </userSettings>
</configuration>